{% extends 'dashboard/base.html' %}

{% block content %}

<div class="page-header">
    <h1>Expenses</h1>
    <p class="text-muted">Manage and track your spending</p>
</div>

<div class="dashboard-grid">

    <!-- Add Expense -->
    <div class="card">

        <h3>Add Expense</h3>

        <form method="POST" class="expense-form">
            {% csrf_token %}

            <div class="form-group">
                <label>Amount</label>
                <input type="number" name="amount" placeholder="Enter amount" required>
            </div>

            <div class="form-group">
                <label>Category</label>
                <input type="text" name="category" placeholder="Food, Travel etc" required>
            </div>

            <div class="form-group">
                <label>Date</label>
                <input type="date" name="date" required>
            </div>

            <button type="submit" class="btn-primary">
                Add Expense
            </button>
        </form>

    </div>

    <!-- Expense Table -->
    <div class="card">

        <h3>Recent Expenses</h3>

        <div class="finance-table-wrapper">

            <table class="finance-table">

                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>

                    {% for e in expenses %}

                    <tr>
                        <td class="amount">₹{{ e.amount }}</td>
                        <td>{{ e.category }}</td>
                        <td>{{ e.date }}</td>

                        <td>
                            <form method="POST" action="{% url 'delete_expense' e.id %}">
                                {% csrf_token %}
                                <button class="btn-delete">Delete</button>
                            </form>
                        </td>
                    </tr>

                    {% empty %}

                    <tr>
                        <td colspan="4" class="empty-row">
                            No expenses added yet
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}