{% extends 'dashboard/base.html' %}

{% block content %}

<div class="page-header">
    <h2>Loans</h2>
</div>

<div class="card">
    <a href="{% url 'add_loan' %}" class="btn btn-paid">Add Loan</a>
</div>

<div class="card">

<div class="table-wrapper">

<table class="loan-table">

<thead>
<tr>
<th>Amount</th>
<th>Person</th>
<th>Date</th>
<th>Status</th>
<th>Actions</th>
</tr>
</thead>

<tbody>

{% for loan in loans %}

<tr>
<td>₹{{ loan.amount }}</td>
<td>{{ loan.person }}</td>
<td>{{ loan.date }}</td>
<td>{{ loan.status }}</td>

<td>

{% if loan.status == "Pending" %}
<a href="{% url 'mark_paid' loan.id %}" class="btn btn-paid">Paid</a>
{% endif %}

<a href="{% url 'edit_loan' loan.id %}" class="btn btn-edit">Edit</a>

<form method="POST" action="{% url 'delete_loan' loan.id %}" style="display:inline;">
{% csrf_token %}
<button class="btn btn-delete">Delete</button>
</form>

</td>

</tr>

{% empty %}

<tr>
<td colspan="5" class="empty">No loans added yet</td>
</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

{% endblock %}