{% extends 'dashboard/base.html' %}

{% block content %}

<h1>Financial Reports</h1>

<!-- Cards -->
<div class="cards">

    <div class="card">
        <h3>Income</h3>
        <div class="amount">₹{{ total_income }}</div>
    </div>

    <div class="card">
        <h3>Expenses</h3>
        <div class="amount">₹{{ total_expense }}</div>
    </div>

    <div class="card">
        <h3>Loans</h3>
        <div class="amount">₹{{ total_loan }}</div>
    </div>

    <div class="card">
        <h3>Wallet</h3>
        <div class="amount">₹{{ wallet }}</div>
    </div>

</div>

<!-- Buttons -->
<form method="POST">
    {% csrf_token %}
    <button name="send_email" class="btn btn-mail">Send Email 📧</button>
    <button name="download" class="btn btn-download">Download 📥</button>
</form>

<hr>

<!-- Monthly Report -->
<h2>Monthly Report</h2>

<div class="table-wrapper">

    <table>

        <thead>
            <tr>
                <th>Month</th>
                <th>Income</th>
                <th>Expense</th>
            </tr>
        </thead>

        <tbody>

            {% for e in monthly_expenses %}
            <tr>
                <td>{{ e.month_name }}</td>
                <td>₹{{ e.income }}</td>
                <td>₹{{ e.total }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No data available</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

</div>

<hr>

<!-- Ledger Table -->
<h2>Ledger Table</h2>

<div class="table-wrapper">

    <table>

        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Amount</th>
            </tr>
        </thead>

        <tbody>

            {% for l in ledger %}

            <tr>
                <td>{{ l.date }}</td>
                <td>{{ l.title }}</td>

                <td style="
                color:
                {% if l.type == 'income' %}
                #00ff9d
                {% else %}
                #ff4d4d
                {% endif %}
                ;">
                    {% if l.type == 'income' %}+{% else %}-{% endif %} ₹{{ l.amount }}
                </td>

            </tr>

            {% empty %}

            <tr>
                <td colspan="3">No data available</td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}